<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/semantic-dist/semantic.css}" rel="stylesheet" />
    <link th:href="@{/styles/employestyle.css}" rel="stylesheet" />
    <script th:src="@{/scripts/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/styles/semantic-dist/semantic.js}"></script>
    <script th:src="@{/scripts/script.js}" defer></script>

    <!-- quick live server pour frontend -->
    <!-- <link href="../static/styles/semantic-dist/semantic.css" rel="stylesheet" />
    <link href="../static/styles/employestyle.css" rel="stylesheet" />
    <script src="../static/scripts/jquery-3.6.0.min.js"></script>
    <script src="../static/styles/semantic-dist/semantic.js"></script>
    <script src="../static/scripts/script.js" defer></script> -->

    <title>Employe</title>
  </head>
  <body id="body">
    <!-- id employe -->
    <p style="display: none" th:text="${e.employeId}" id="employe-id"></p>
    <!-- template carte -->
    <div class="template" style="display: none">
      <div class="ui raised link card carte-projet">
        <div class="fields-container">
          <div class="field-carte">
            <label>Projet</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="gender" />
              <i class="dropdown icon"></i>
              <div class="default text">Projet</div>
              <div class="menu">
                <div
                  class="item"
                  th:each="projet : ${projets}"
                  th:text="${projet.nom_projet}"
                  th:attr="data-value=${projet.numero_projet}"
                ></div>
              </div>
            </div>
          </div>
          <div class="field-carte">
            <label>Temps de travail en minutes</label>
            <div class="ui input">
              <input type="number" min="1" value="1" name="temps_travail" />
            </div>
          </div>
          <div class="field-carte">
            <div
              class="ui vertical animated button btn_enlever_projet"
              tabindex="0"
            >
              <div class="hidden content">Enlever</div>
              <div class="visible content">
                <i class="trash icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container pour les resultats (s'affiche si des regles ne sont pas respectees apres Soumettre) -->
    <div id="container-resultats">
      <div>
        <h1>Attention!</h1>
        <h4>Une ou plusieurs règles n'ont pas été respectées:</h4>
        <div class="container-regles"></div>
        <h4>Souhaitez-vous quand même soumettre votre formulaire?</h4>
        <div class="oui-non">
          <a class="ui teal button" id="btn_non_attention">Non</a>
          <a class="ui button" id="btn_oui_attention">Oui</a>
        </div>
      </div>
    </div>

    <div class="background">
      <!-- Barre de progres -->
      <div class="ui teal progress" id="progress_bar">
        <div class="bar">
          <div class="progress"></div>
        </div>
      </div>
      <!-- Slideshow container -->
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="slide-content" id="#slide-dimanche">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">dimanche</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content" id="#slide-lundi">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">lundi</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content" id="#slide-mardi">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">mardi</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content" id="#slide-mercredi">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">mercredi</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content" id="#slide-jeudi">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">jeudi</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content" id="#slide-vendredi">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">vendredi</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content" id="#slide-samedi">
            <h2>
              Ajoutez les projets sur lesquels vous avez travaillé
              <span style="color: rgb(34, 235, 235)">samedi</span>
            </h2>
            <a class="ui teal button btn_ajouter_projet">Ajouter un projet</a>
            <div class="cards-container">
              <div class="ui one cards"></div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content">
            <a class="massive ui teal button" id="btn_soumettre">SOUMETTRE</a>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="slide-content">
            <h2>
              Merci <span th:text="${e.prenom}"></span>, votre formulaire a été
              envoyé.
            </h2>
            <a class="ui teal button">Se déconnecter</a>
          </div>
        </div>

        <!-- Next and previous buttons -->
      </div>
      <div class="next-prev-container">
        <div>
          <a class="big ui button" id="btn_precedent">Précédent</a>
          <a class="big ui teal button" id="btn_suivant">Suivant</a>
        </div>
      </div>
    </div>
  </body>
</html>
