<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Application feuille de temps</title>
    <link th:href="@{/styles/semantic-dist/semantic.css}" rel="stylesheet" />
    <link th:href="@{/styles/gestionstyle.css}" rel="stylesheet" />
    <script th:src="@{/scripts/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/styles/semantic-dist/semantic.js}"></script>
    <script th:src="@{/scripts/gestionscript.js}" defer></script>

    <!-- quick live server pour frontend -->
    <!-- <link href="../static/styles/semantic-dist/semantic.css" rel="stylesheet" />
    <link href="../static/styles/gestionstyle.css" rel="stylesheet" />
    <script src="../static/scripts/jquery-3.6.0.min.js"></script>
    <script src="../static/styles/semantic-dist/semantic.js"></script>
    <script src="../static/scripts/gestionscript.js" defer></script> -->
  </head>

  <body id="body">
    <div id="employes" style="display: none"></div>
    <div id="table-container">
      <div id="table-approved">
        <i class="big close icon"></i>
        <div class="table-projets">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Projet</th>
                <th>Temps travaillé (minutes)</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[0].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[0].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[0].dateTravaille}
                </td>
              </tr>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[1].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[1].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[1].dateTravaille}
                </td>
              </tr>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[2].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[2].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[2].dateTravaille}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="table-unapproved">
        <i class="big close icon"></i>
        <div class="table-projets">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Projet</th>
                <th>Temps travaillé (minutes)</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[0].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[0].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[0].dateTravaille}
                </td>
              </tr>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[1].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[1].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[1].dateTravaille}
                </td>
              </tr>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[2].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[2].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[2].dateTravaille}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a class="ui teal button btn-approuver">Approuver</a>
      </div>
      <div id="table-unapproved-errors">
        <i class="big close icon"></i>
        <div class="table-projets">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Projet</th>
                <th>Temps travaillé (minutes)</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[0].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[0].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[0].dateTravaille}
                </td>
              </tr>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[1].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[1].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[1].dateTravaille}
                </td>
              </tr>
              <tr>
                <td data-label="nom_projet">
                  {FeuilleDeTemps.entreesProjet[2].projet.nom_projet}
                </td>
                <td data-label="tempsTravaille">
                  {FeuilleDeTemps.entreesProjet[2].tempsTravaille}
                </td>
                <td data-label="dateTravaille">
                  {FeuilleDeTemps.entreesProjet[2].dateTravaille}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="message">
          <h4>
            Une ou plusieurs règles ne sont pas respectées par ce formulaire.
          </h4>
          <h4>
            S'il vous plaît contactez {employe.nom} via
            <a href="mailto:">{employe.adresseCourriel}</a> avant d'approuver le
            formulaire.
          </h4>
        </div>
        <a class="ui button btn-approuver">Approuver quand même</a>
      </div>
      <div id="table-unsent">
        <i class="big close icon"></i>
        <div class="message">
          <h4>
            {employe.nom} n'a pas encore remplie son formulaire pour cette
            semaine.
          </h4>
          <h4>
            Contactez {employe.nom} via
            <a href="mailto:">{employe.adresseCourriel}</a> pour lui demander de
            remplir son formulaire.
          </h4>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="ui menu">
        <a class="item active" id="menu-all"> Tous </a>
        <a class="item" id="menu-approved"> Approuvés </a>
        <a class="item" id="menu-unapproved"> Non-approuvés </a>
        <a class="item" id="menu-unsent"> Non-envoyés </a>
        <div class="right menu">
          <div class="item">
            <div class="ui search selection dropdown">
              <input type="hidden" id="lastWeekNumber" th:value="${numeroDeSemaineCourant}"/>
              <i class="dropdown icon"></i>
              <div class="default text">Choisissez une semaine</div>
              <div class="menu" id="listeSemaine">
                <div class="item" data-value="1">
                  Semaine 1
                </div>
                <div class="item" data-value="2">
                  Semaine 2
                </div>
                <div class="item" data-value="3">
                  Semaine 3 
                </div>
                <div class="item" data-value="4">
                  Semaine 4
                </div>
                <div class="item" data-value="5">
                  Semaine 5
                </div>
                <div class="item" data-value="6">
                  Semaine 6
                </div>
                <div class="item" data-value="7">
                  Semaine 7
                </div>
                <div class="item" data-value="8">
                  Semaine 8
                </div>
                <div class="item" data-value="9">
                  Semaine 9
                </div>
                <div class="item" data-value="10">
                  Semaine 10
                </div>
                <div class="item" data-value="11">
                  Semaine 11
                </div>
                <div class="item" data-value="12">
                  Semaine 12
                </div>
                <div class="item" data-value="13">
                  Semaine 13
                </div>
                <div class="item" data-value="14">
                  Semaine 14
                </div>
                <div class="item" data-value="15">
                  Semaine 15
                </div>
                <div class="item" data-value="16">
                  Semaine 16
                </div>
                <div class="item" data-value="17">
                  Semaine 17
                </div>
                <div class="item" data-value="18">
                  Semaine 18
                </div>
                <div class="item" data-value="19">
                  Semaine 19
                </div>
                <div class="item" data-value="20">
                  Semaine 20
                </div>
                <div class="item" data-value="21">
                  Semaine 21
                </div>
                <div class="item" data-value="22">
                  Semaine 22
                </div>
                <div class="item" data-value="23">
                  Semaine 23
                </div>
                <div class="item" data-value="24">
                  Semaine 24
                </div>
                <div class="item" data-value="25">
                  Semaine 25
                </div>
                <div class="item" data-value="26">
                  Semaine 26
                </div>
                <div class="item" data-value="27">
                  Semaine 27
                </div>
                <div class="item" data-value="28">
                  Semaine 28
                </div>
                <div class="item" data-value="29">
                  Semaine 29
                </div>
                <div class="item" data-value="30">
                  Semaine 30 
                </div>
                <div class="item" data-value="31">
                  Semaine 31 
                </div>
                <div class="item" data-value="32">
                  Semaine 32 
                </div>
                <div class="item" data-value="33">
                  Semaine 33 
                </div>
                <div class="item" data-value="34">
                  Semaine 34 
                </div>
                <div class="item" data-value="35">
                  Semaine 35
                </div>
                <div class="item" data-value="36">
                  Semaine 36 
                </div>
                <div class="item" data-value="37">
                  Semaine 37 
                </div>
                <div class="item" data-value="38">
                  Semaine 38 
                </div>
                <div class="item" data-value="39">
                  Semaine 39 
                </div>
                <div class="item" data-value="40">
                  Semaine 40 
                </div>
                <div class="item" data-value="41">
                  Semaine 41 
                </div>
                <div class="item" data-value="42">
                  Semaine 42 
                </div>
                <div class="item" data-value="43">
                  Semaine 43 
                </div>
                <div class="item" data-value="44">
                  Semaine 44 
                </div>
                <div class="item" data-value="45">
                  Semaine 45 
                </div>
                <div class="item" data-value="46">
                  Semaine 46 
                </div>
                <div class="item" data-value="47">
                  Semaine 47 
                </div>
                <div class="item" data-value="48">
                  Semaine 48 
                </div>
                <div class="item" data-value="49">
                  Semaine 49 
                </div>
                <div class="item" data-value="50">
                  Semaine 50 
                </div>
                <div class="item" data-value="51">
                  Semaine 51 
                </div>
                <div class="item" data-value="52">
                  Semaine 52 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui cards">
          <!-- <a class="ui green card card-approved">
            <div class="content">
              <div class="header">Emile Tremblay</div>
              <div class="meta">ID: 1001</div>
            </div>
            <div class="extra content">
              <i class="check icon"></i>
              Formulaire approuvé
            </div>
          </a>
          <a class="ui orange card card-unapproved">
            <div class="content">
              <div class="header">Eric Marquis</div>
              <div class="meta">ID: 1021</div>
            </div>
            <div class="extra content">
              <i class="exclamation icon"></i>
              Formulaire à approuver
            </div>
          </a>
          <a class="ui red card card-errors-unapproved">
            <div class="content">
              <div class="header">Julien Poirier</div>
              <div class="meta">ID: 1061</div>
            </div>
            <div class="extra content">
              <i class="exclamation icon"></i>
              Formulaire à approuver
            </div>
          </a>
          <a class="ui grey card card-unsent">
            <div class="content">
              <div class="header">Alex Pom</div>
              <div class="meta">ID: 1051</div>
            </div>
            <div class="extra content">
              <i class="ellipsis horizontal icon"></i>
              En attente du formulaire
            </div>
          </a> -->
        </div>
      </div>
      <a class="ui button" type="button" onclick="location.href = '/'"
        >Se déconnecter</a
      >
    </div>
    <script th:inline="javascript">
      /*<![CDATA[*/

      const employes = /*[[${employes}]]*/ null;
      $("#employes").text(JSON.stringify(employes));
      /*]]>*/
    </script>
  </body>
</html>
